################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Platformer/Debug/MarioBross.tlog/MarioBross.lastbuildstate
